<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <form name="form" ng-submit="home.directions()" style="padding-top:150px" class="form-group">
    <input type="text" name="origin" ng-model="home.origin" placeholder="origin" class="form-control" style="width: auto;"/><br>
    <input type="text" name="destination" ng-model="home.destination" placeholder="destination" class="form-control" style="width: auto;"/><br>
    <input type="submit" name="submit" class="btn btn-primary" value="Get Your Stormy On">
  </form>
</div>

<img class="logo" src="assets/stormy.png" alt="How's the weather over there?" onclick="openNav()">
<!-- LOADING BAR HERE. NEEDS BOWER AND REQUIRE IN PIPELINE -->
<!-- <link rel='stylesheet' href='build/loading-bar.min.css' type='text/css' media='all' />
<script type='text/javascript' src='build/loading-bar.min.js'></script> -->


<!-- LOG IN TO SAVE TRIPS?? -->




<ui-gmap-google-map center='map.center' zoom='map.zoom' control='map.control'>
</ui-gmap-google-map>
